* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

header {
    background-color: #e7ebf0;
    padding: 15px 20px;
}

main {
    padding: 90px 75px;
}


button {
    background-color: #0d6efd;
    padding: 20px;
    border: 0px;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    cursor: pointer;
}

.card {
    margin-top: 60px;
    border: 1px solid grey;
    padding: 35px 20px;
    border-radius: 10px;
    font-size: 20px;
}

.card h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.active {
    color: black;
    background: #ffc107;
}